In [27]:
import json
fd=open("record1.json",'r')
r=fd.read()
fd.close()
record1 =json.loads(r)


prod_id= str(input("Enter the product id:"))
if (prod_id not in record1.keys()):

  name=str(input("Enter the name:"))
  pr= int(input("Enter the price : "))
  qn=int(input("Enter the product quantity: "))
  exp=int(input("Enter the expiry date: "))
  pac=int(input("Enter the packaging date :"))
  record1[prod_id]= {'name':name,'pr':pr,'qn':qn,'ex_date':exp,'pack_date':pac}
else:
  print("THIS ID ALREADY EXISTS\n")
  print("TRY ANOTHER ID") 
js=json.dumps(record1)
fd= open("record1.json",'w')
fd.write(js)
fd.close()

fd= open("record1.json",'r')
r=fd.read()
fd.close()
record1=json.loads(r)

Enter the product id:1034
Enter the name:coffe
Enter the price : 45
Enter the product quantity: 32
Enter the expiry date: 2022
Enter the packaging date :2021

In [28]:
record1

{'1001': {'ex_date': 2022,
  'name': 'chocolate',
  'pack_date': 2021,
  'pr': 10,
  'qn': 100},
 '1002': {'ex_date': 2022,
  'name': 'coke',
  'pack_date': 2021,
  'pr': 20,
  'qn': 10},
 '1003': {'ex_date': 2022,
  'name': 'pen',
  'pack_date': 2021,
  'pr': 10,
  'qn': 200},
 '1004': {'ex_date': 2022,
  'name': 'pencil',
  'pack_date': 2021,
  'pr': 10,
  'qn': 100},
 '1005': {'ex_date': 2022,
  'name': 'milk',
  'pack_date': 2021,
  'pr': 20,
  'qn': 50},
 '1006': {'ex_date': 2022,
  'name': 'wallet',
  'pack_date': 2021,
  'pr': 56,
  'qn': 28},
 '1007': {'ex_date': 2022,
  'name': 'box',
  'pack_date': 2021,
  'pr': 60,
  'qn': 80},
 '1008': {'ex_date': 2022,
  'name': 'comb',
  'pack_date': 2021,
  'pr': 90,
  'qn': 150},
 '1009': {'ex_date': 2022,
  'name': 'mic',
  'pack_date': 2021,
  'pr': 66,
  'qn': 340},
 '1010': {'ex_date': 2022,
  'name': 'powder',
  'pack_date': 2021,
  'pr': 45,
  'qn': 600},
 '1011': {'ex_date': 2022,
  'name': 'lipstick',
  'pack_date': 2021,
  'pr': 600,
  'qn': 100},
 '1012': {'ex_date': 2022,
  'name': 'buiscuits',
  'pack_date': 2021,
  'pr': 60,
  'qn': 500},
 '1013': {'ex_date': 2022,
  'name': 'bhoojiya',
  'pack_date': 2021,
  'pr': 200,
  'qn': 200},
 '1014': {'ex_date': 2022,
  'name': 'lip balm',
  'pack_date': 2021,
  'pr': 500,
  'qn': 340},
 '1015': {'ex_date': 2022,
  'name': 'kitkat',
  'pack_date': 2021,
  'pr': 50,
  'qn': 900},
 '1016': {'ex_date': 2022,
  'name': 'parle',
  'pack_date': 2021,
  'pr': 30,
  'qn': 800},
 '1017': {'ex_date': 2022,
  'name': 'perk',
  'pack_date': 2021,
  'pr': 45,
  'qn': 10},
 '1018': {'ex_date': 2022,
  'name': 'goodday',
  'pack_date': 2021,
  'pr': 32,
  'qn': 180},
 '1019': {'ex_date': 2022,
  'name': 'soap',
  'pack_date': 2021,
  'pr': 60,
  'qn': 100},
 '1020': {'ex_date': 2022,
  'name': 'oil',
  'pack_date': 2021,
  'pr': 230,
  'qn': 40},
 '1021': {'ex_date': 2022,
  'name': 'coconut',
  'pack_date': 2021,
  'pr': 220,
  'qn': 450},
 '1022': {'ex_date': 2022,
  'name': 'orange',
  'pack_date': 2021,
  'pr': 78,
  'qn': 50},
 '1023': {'ex_date': 2022,
  'name': 'banana',
  'pack_date': 2021,
  'pr': 89,
  'qn': 48},
 '1024': {'ex_date': 2022,
  'name': 'lakme',
  'pack_date': 2021,
  'pr': 200,
  'qn': 100},
 '1025': {'ex_date': 2022,
  'name': 'colormate',
  'pack_date': 2021,
  'pr': 450,
  'qn': 20},
 '1026': {'ex_date': 2022,
  'name': 'lichi',
  'pack_date': 2021,
  'pr': 40,
  'qn': 400},
 '1027': {'ex_date': 2022,
  'name': 'potato',
  'pack_date': 2021,
  'pr': 110,
  'qn': 48},
 '1028': {'ex_date': 2022,
  'name': 'dairy milk',
  'pack_date': 2021,
  'pr': 200,
  'qn': 409},
 '1029': {'ex_date': 2022,
  'name': 'shampoo',
  'pack_date': 2021,
  'pr': 544,
  'qn': 78},
 '1030': {'ex_date': 2022,
  'name': 'tea',
  'pack_date': 2021,
  'pr': 60,
  'qn': 43},
 '1034': {'ex_date': 2022,
  'name': 'coffe',
  'pack_date': 2021,
  'pr': 45,
  'qn': 32}}

In [ ]:
record1

{'1001': {'name': 'chocolate', 'pr': 10, 'qn': 100},
 '1002': {'name': 'coke', 'pr': 20, 'qn': 10},
 '1003': {'name': 'pen', 'pr': 10, 'qn': 200},
 '1004': {'name': 'milk', 'pr': 45, 'qn': 190},
 '1007': {'name': 'net', 'pr': 67, 'qn': 78}}

In [ ]:
record1

{'1001': {'name': 'chocolate', 'pr': 10, 'qn': 100},
 '1002': {'name': 'coke', 'pr': 20, 'qn': 10},
 '1003': {'name': 'pen', 'pr': 10, 'qn': 200},
 '1004': {'name': 'milk', 'pr': 45, 'qn': 190},
 '1007': {'name': 'net', 'pr': 67, 'qn': 78}}

In [ ]:
record1

{'1001': {'name': 'chocolate', 'pr': 10, 'qn': 100},
 '1002': {'name': 'coke', 'pr': 20, 'qn': 10},
 '1003': {'name': 'pen', 'pr': 10, 'qn': 200},
 '1004': {'name': 'milk', 'pr': 45, 'qn': 190},
 '1007': {'name': 'net', 'pr': 67, 'qn': 78}}